MONGO_URI=mongodb+srv://<my username, i will not put it in github>>:<my password, i will not put it in github>>@cluster0.<cluster name>>.mongodb.net/costmanager?appName=Cluster0

USERS_PORT=3001
COSTS_PORT=3002
LOGS_PORT=3003
ABOUT_PORT=3004

TEAM_MEMBER_1_FIRST_NAME=Daniel
TEAM_MEMBER_1_LAST_NAME=Litvak

TEAM_MEMBER_2_FIRST_NAME=Daniel
TEAM_MEMBER_2_LAST_NAME=Drori

TEAM_MEMBER_3_FIRST_NAME=Adir
TEAM_MEMBER_3_LAST_NAME=Eliash